.IdeEditor {
  width: 100%;
  height: 100%;
  border-left: 15px solid #02203c;
  border-bottom: 15px solid #02203c !important;
  overflow: hidden;
}

.IdeEditor button {
  padding: 0 20px;
  width: 80px;
  height: 100%;
  outline: none !important;
  box-shadow: none !important;
}

.ace_editor,
.ace_gutter {
  background: #001528 !important;
  /* height: 95% !important; */
}
.ace_gutter {
  z-index: 0;
}

.IdeEditor {
  position: relative;
  background: #15314b;
}

.ace_comment {
  color: #8b8888 !important;
}

.IdeEditor .EditorNav {
  display: flex;
  margin-top: 5px !important;
  justify-content: space-between;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.IdeEditor ul li p {
  color: #ffffff;
  width: min-content;
  padding: 5px 20px;
  background-color: #001528;
  height: 2rem;
  margin: 0;
}

.IdeEditor button {
  padding: 0 20px;
  margin: 0 6px;
  width: 80px;
  height: 100%;
  outline: none !important;
  box-shadow: none !important;
}
