@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
.Navbar {
  /* position: relative; */
  z-index: 100;
  width: 100%;
  background-color: #02203c !important;
  border-right: 15px solid #02203c;
  border-left: 15px solid #02203c;
}

.Navbar .Logo {
  height: 40px;
}

.Navbar .NavbarBrand {
  font-size: 30px;
  font-family: "Permanent Marker";
}

.navbar-collapse.show .ml-auto.navbar-nav button {
  width: 100% !important;
  background-color: #15314b;
  align-items: center;
  border: none;
}

.navbar-collapse.show .ml-auto.navbar-nav .dropdown-item {
  align-items: center;
}

.Navbar .btn-primary {
  color: #fff;
  background-color: #15314b !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
  font-weight: 900;
  margin-right: 20px;
}

.languageBtn .btn-primary {
  width: 350px !important;
}

.fontSizeBtn .btn-primary {
  width: 150px !important;
}

.share {
  width: 50px !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #626ee3 !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
}

.dropdown-menu {
  background: #15314b;
}

.dropdown-menu a {
  color: #ffffff;
}

.dropdown-menu a:hover {
  background-color: #626ee3;
}

.dropdown-menu .selected {
  background-color: #e0e0e0;
  color: #15314b;
}
