.modal-header {
  color: #ffffff;
  background: #02203c;
  border-color: #15314b;
  border-bottom: 0;
}

.modal-header .close {
  color: #ffffff;
}

.modal-body {
  color: #ffffff;
  background: #02203c;
  border-color: #15314b;
}

.modal-footer {
  color: #ffffff;
  background: #02203c;
  border-color: #15314b;
  border-top: 0;
}

.modal-footer .btn-primary:hover {
  background-color: #626ee3;
}
