@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
.Navbar {
  background-color: #02203c;
  /* height: 60px; */
  /* z-index: 200; */
  width: 100%;
}

.navbar {
  padding: 6px 1rem !important;
}
.Navbar .BrandName {
  vertical-align: middle;
  margin: 0;
}

.Navbar .Logo {
  height: 40px;
  vertical-align: middle;
}

.Navbar .BrandName {
  font-size: 30px;
  display: inline-block;
  font-family: "Permanent Marker";
}

.Navbar .button {
  color: #fff;
  background-color: #15314b;
  border: none;
  border-radius: 5px;
  font-weight: 900;
  margin-left: 20px;
}

.Navbar .button > a {
  color: #fff !important;
}

.language-button {
  padding: 0 20px;
}

.fontsize-button {
  padding: 0 20px;
}

.Navbar .navbar-nav > .button:hover {
  background-color: #626ee3;
  transition: 0.4s;
  transition-timing-function: ease-in-out;
}

.dropdown > a {
  text-align: center;
}

.dropdown-menu {
  background: #15314b !important;
}

.dropdown-menu a {
  color: #ffffff;
}

.dropdown-menu a:hover {
  background-color: #626ee3;
  color: #ffffff;
  transition: 0.4s;
  transition-timing-function: ease-in-out;
}

.dropdown-menu > .active {
  background-color: #e0e0e0 !important;
  color: #15314b !important;
}
